# Ensemble Learning 
- Bagging and Boosting 
## Bagging 
- Aynı veya farklı türden birden fazla base model kullanılarak veri setinin farklı örnekleri üzerinde bu modeller eğitilir 
- Sonrasında Classification Tasklerinde -> Majority Voting 
- Regression Tasklerinde -> Averaging yöntemi kullanılır 
- Random Forest
## Boosting

In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
import sys 
import warnings 

%matplotlib inline
sys.path.append('/Users/user/Desktop/Projects/data-science/utils')
warnings.filterwarnings(action="ignore")

In [8]:
from SetupDataFrame import SetupDataFrame
from AnalyzeDataFrame import AnalyzeDataFrame
from VisualizeDataFrame import VisualizeDataFrame
from EvalModel import EvalModel
from HyperParameterTuning import HyperParameterTuning

In [9]:
setup_df        =   SetupDataFrame()
analyze_df      =   AnalyzeDataFrame()
visualize_df    =   VisualizeDataFrame()
eval_model      =   EvalModel()
hp_tuning_model =   HyperParameterTuning()

In [10]:
df = setup_df.setup_ml("14-income_evaluation.csv")

In [11]:
analyze_df.check_df(df)

***************************************** SHAPE ******************************************
(32561, 15)
***************************************** TYPES ******************************************
age                 int64
 workclass         object
 fnlwgt             int64
 education         object
 education-num      int64
 marital-status    object
 occupation        object
 relationship      object
 race              object
 sex               object
 capital-gain       int64
 capital-loss       int64
 hours-per-week     int64
 native-country    object
 income            object
dtype: object
****************************************** HEAD ******************************************
   age          workclass   fnlwgt   education   education-num  \
0   39          State-gov    77516   Bachelors              13
1   50   Self-emp-not-inc    83311   Bachelors              13
2   38            Private   215646     HS-grad               9
3   53            Private   234721        11th               7
4   28            Private   338409   Bachelors              13

        marital-status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

    capital-gain   capital-loss   hours-per-week  native-country  income
0           2174              0               40   United-States   <=50K
1              0              0               13   United-States   <=50K
2              0              0               40   United-States   <=50K
3              0              0               40   United-States   <=50K
4              0              0               40            Cuba   <=50K
****************************************** TAIL ******************************************
       age      workclass   fnlwgt    education   education-num  \
32556   27        Private   257302   Assoc-acdm              12
32557   40        Private   154374      HS-grad               9
32558   58        Private   151910      HS-grad               9
32559   22        Private   201490      HS-grad               9
32560   52   Self-emp-inc   287927      HS-grad               9

            marital-status          occupation  relationship    race      sex  \
32556   Married-civ-spouse        Tech-support          Wife   White   Female
32557   Married-civ-spouse   Machine-op-inspct       Husband   White     Male
32558              Widowed        Adm-clerical     Unmarried   White   Female
32559        Never-married        Adm-clerical     Own-child   White     Male
32560   Married-civ-spouse     Exec-managerial          Wife   White   Female

        capital-gain   capital-loss   hours-per-week  native-country  income
32556              0              0               38   United-States   <=50K
32557              0              0               40   United-States    >50K
32558              0              0               40   United-States   <=50K
32559              0              0               20   United-States   <=50K
32560          15024              0               40   United-States    >50K
******************************************* NA *******************************************
age                0
 workclass         0
 fnlwgt            0
 education         0
 education-num     0
 marital-status    0
 occupation        0
 relationship      0
 race              0
 sex               0
 capital-gain      0
 capital-loss      0
 hours-per-week    0
 native-country    0
 income            0
dtype: int64
*************************************** QUANTILES ****************************************
                    0.00     0.05      0.50      0.95      0.99       1.00
age                 17.0     19.0      37.0      63.0      74.0       90.0
 fnlwgt          12285.0  39460.0  178356.0  379682.0  510072.0  1484705.0
 education-num       1.0      5.0      10.0      14.0      16.0       16.0
 capital-gain        0.0      0.0       0.0    5013.0   15024.0    99999.0
 capital-loss        0.0      0.0       0.0       0.0    1980.0     4356.0
 hours-per-week      1.0     18.0      40.0      60.0      80.0       99.0

In [12]:
analyze_df.analyze_df(df)

**************************************** COLUMNS *****************************************
Index(['age', ' workclass', ' fnlwgt', ' education', ' education-num',
       ' marital-status', ' occupation', ' relationship', ' race', ' sex',
       ' capital-gain', ' capital-loss', ' hours-per-week', ' native-country',
       ' income'],
      dtype='object')
**************************************** DF INFO *****************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              32561 non-null  int64
 1    workclass       32561 non-null  object
 2    fnlwgt          32561 non-null  int64
 3    education       32561 non-null  object
 4    education-num   32561 non-null  int64
 5    marital-status  32561 non-null  object
 6    occupation      32561 non-null  object
 7    relationship    32561 non-null  object
 8    race            32561 non-null  object
 9    sex             32561 non-null  object
 10   capital-gain    32561 non-null  int64
 11   capital-loss    32561 non-null  int64
 12   hours-per-week  32561 non-null  int64
 13   native-country  32561 non-null  object
 14   income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None
************************************** DF DESCRIBE ***************************************
                age        fnlwgt   education-num   capital-gain  \
count  32561.000000  3.256100e+04    32561.000000   32561.000000
mean      38.581647  1.897784e+05       10.080679    1077.648844
std       13.640433  1.055500e+05        2.572720    7385.292085
min       17.000000  1.228500e+04        1.000000       0.000000
25%       28.000000  1.178270e+05        9.000000       0.000000
50%       37.000000  1.783560e+05       10.000000       0.000000
75%       48.000000  2.370510e+05       12.000000       0.000000
max       90.000000  1.484705e+06       16.000000   99999.000000

        capital-loss   hours-per-week
count   32561.000000     32561.000000
mean       87.303830        40.437456
std       402.960219        12.347429
min         0.000000         1.000000
25%         0.000000        40.000000
50%         0.000000        40.000000
75%         0.000000        45.000000
max      4356.000000        99.000000
************************************* DF DUPLICATES **************************************
24
************************************ DF UNIQUE VALUES ************************************
age                   73
 workclass             9
 fnlwgt            21648
 education            16
 education-num        16
 marital-status        7
 occupation           15
 relationship          6
 race                  5
 sex                   2
 capital-gain        119
 capital-loss         92
 hours-per-week       94
 native-country       42
 income                2
dtype: int64
************************************ DF VALUE COUNTS *************************************
age   workclass         fnlwgt   education     education-num   marital-status      occupation         relationship   race   sex     capital-gain   capital-loss   hours-per-week   native-country   income
25   Private           195994   1st-4th       2               Never-married       Priv-house-serv    Not-in-family  White  Female  0              0              40               Guatemala        <=50K      3
23   Private           240137   5th-6th       3               Never-married       Handlers-cleaners  Not-in-family  White  Male    0              0              55               Mexico           <=50K      2
38   Private           207202   HS-grad       9               Married-civ-spouse  Machine-op-inspct  Husband        White  Male    0              0              48               United-States    >50K       2
30   Private           144593   HS-grad       9               Never-married       Other-service      Not-in-family  Black  Male    0              0              40               ?                <=50K      2
49   Self-emp-not-inc  43479    Some-college  10              Married-civ-spouse  Craft-repair       Husband        White  Male    0              0              40               United-States    <=50K      2
                                                                                                                                                                                                             ..
31   Private           128567   HS-grad       9               Married-civ-spouse  Craft-repair       Husband        White  Male    0              0              40               United-States    <=50K      1
                       128493   HS-grad       9               Divorced            Other-service      Not-in-family  White  Female  0              0              25               United-States    <=50K      1
                       128220   7th-8th       4               Widowed             Adm-clerical       Not-in-family  White  Female  0              0              35               United-States    <=50K      1
                       127610   Bachelors     13              Married-civ-spouse  Prof-specialty     Wife           White  Female  0              0              40               United-States    >50K       1
90   Self-emp-not-inc  282095   Some-college  10              Married-civ-spouse  Farming-fishing    Husband        White  Male    0              0              40               United-States    <=50K      1
Name: count, Length: 32537, dtype: int64
******************************* UNIQUE VALUES EACH COLUMN ********************************
****************************** UNIQUE VALUES IN COLUMN age *******************************
[39 50 38 53 28 37 49 52 31 42 30 23 32 40 34 25 43 54 35 59 56 19 20 45
 22 48 21 24 57 44 41 29 18 47 46 36 79 27 67 33 76 17 55 61 70 64 71 68
 66 51 58 26 60 90 75 65 77 62 63 80 72 74 69 73 81 78 88 82 83 84 85 86
 87]
*************************** UNIQUE VALUES IN COLUMN  workclass ***************************
[' State-gov' ' Self-emp-not-inc' ' Private' ' Federal-gov' ' Local-gov'
 ' ?' ' Self-emp-inc' ' Without-pay' ' Never-worked']
**************************** UNIQUE VALUES IN COLUMN  fnlwgt *****************************
[ 77516  83311 215646 ...  34066  84661 257302]
*************************** UNIQUE VALUES IN COLUMN  education ***************************
[' Bachelors' ' HS-grad' ' 11th' ' Masters' ' 9th' ' Some-college'
 ' Assoc-acdm' ' Assoc-voc' ' 7th-8th' ' Doctorate' ' Prof-school'
 ' 5th-6th' ' 10th' ' 1st-4th' ' Preschool' ' 12th']
************************* UNIQUE VALUES IN COLUMN  education-num *************************
[13  9  7 14  5 10 12 11  4 16 15  3  6  2  1  8]
************************ UNIQUE VALUES IN COLUMN  marital-status *************************
[' Never-married' ' Married-civ-spouse' ' Divorced'
 ' Married-spouse-absent' ' Separated' ' Married-AF-spouse' ' Widowed']
************************** UNIQUE VALUES IN COLUMN  occupation ***************************
[' Adm-clerical' ' Exec-managerial' ' Handlers-cleaners' ' Prof-specialty'
 ' Other-service' ' Sales' ' Craft-repair' ' Transport-moving'
 ' Farming-fishing' ' Machine-op-inspct' ' Tech-support' ' ?'
 ' Protective-serv' ' Armed-Forces' ' Priv-house-serv']
************************* UNIQUE VALUES IN COLUMN  relationship **************************
[' Not-in-family' ' Husband' ' Wife' ' Own-child' ' Unmarried'
 ' Other-relative']
***************************** UNIQUE VALUES IN COLUMN  race ******************************
[' White' ' Black' ' Asian-Pac-Islander' ' Amer-Indian-Eskimo' ' Other']
****************************** UNIQUE VALUES IN COLUMN  sex ******************************
[' Male' ' Female']
************************* UNIQUE VALUES IN COLUMN  capital-gain **************************
[ 2174     0 14084  5178  5013  2407 14344 15024  7688 34095  4064  4386
  7298  1409  3674  1055  3464  2050  2176   594 20051  6849  4101  1111
  8614  3411  2597 25236  4650  9386  2463  3103 10605  2964  3325  2580
  3471  4865 99999  6514  1471  2329  2105  2885 25124 10520  2202  2961
 27828  6767  2228  1506 13550  2635  5556  4787  3781  3137  3818  3942
   914   401  2829  2977  4934  2062  2354  5455 15020  1424  3273 22040
  4416  3908 10566   991  4931  1086  7430  6497   114  7896  2346  3418
  3432  2907  1151  2414  2290 15831 41310  4508  2538  3456  6418  1848
  3887  5721  9562  1455  2036  1831 11678  2936  2993  7443  6360  1797
  1173  4687  6723  2009  6097  2653  1639 18481  7978  2387  5060]
************************* UNIQUE VALUES IN COLUMN  capital-loss **************************
[   0 2042 1408 1902 1573 1887 1719 1762 1564 2179 1816 1980 1977 1876
 1340 2206 1741 1485 2339 2415 1380 1721 2051 2377 1669 2352 1672  653
 2392 1504 2001 1590 1651 1628 1848 1740 2002 1579 2258 1602  419 2547
 2174 2205 1726 2444 1138 2238  625  213 1539  880 1668 1092 1594 3004
 2231 1844  810 2824 2559 2057 1974  974 2149 1825 1735 1258 2129 2603
 2282  323 4356 2246 1617 1648 2489 3770 1755 3683 2267 2080 2457  155
 3900 2201 1944 2467 2163 2754 2472 1411]
************************ UNIQUE VALUES IN COLUMN  hours-per-week *************************
[40 13 16 45 50 80 30 35 60 20 52 44 15 25 38 43 55 48 58 32 70  2 22 56
 41 28 36 24 46 42 12 65  1 10 34 75 98 33 54  8  6 64 19 18 72  5  9 47
 37 21 26 14  4 59  7 99 53 39 62 57 78 90 66 11 49 84  3 17 68 27 85 31
 51 77 63 23 87 88 73 89 97 94 29 96 67 82 86 91 81 76 92 61 74 95]
************************ UNIQUE VALUES IN COLUMN  native-country *************************
[' United-States' ' Cuba' ' Jamaica' ' India' ' ?' ' Mexico' ' South'
 ' Puerto-Rico' ' Honduras' ' England' ' Canada' ' Germany' ' Iran'
 ' Philippines' ' Italy' ' Poland' ' Columbia' ' Cambodia' ' Thailand'
 ' Ecuador' ' Laos' ' Taiwan' ' Haiti' ' Portugal' ' Dominican-Republic'
 ' El-Salvador' ' France' ' Guatemala' ' China' ' Japan' ' Yugoslavia'
 ' Peru' ' Outlying-US(Guam-USVI-etc)' ' Scotland' ' Trinadad&Tobago'
 ' Greece' ' Nicaragua' ' Vietnam' ' Hong' ' Ireland' ' Hungary'
 ' Holand-Netherlands']
**************************** UNIQUE VALUES IN COLUMN  income *****************************
[' <=50K' ' >50K']